obj

bin/Debug
bin/Release/net6.0/linux-x64/*
!bin/Release/net6.0/linux-x64/publish/

bin/Release/net6.0/win-x64/*
!bin/Release/net6.0/win-x64/publish/

bin/Release/net6.0/osx-x64/*
!bin/Release/net6.0/osx-x64/publish/

*.pdb
